.gameTable {
  position: relative;
  width: 370px;
  height: 170px;
  border-radius: 500px;
  padding-top: 1.5rem;
  box-sizing: border-box;
  background-color: var(--bg-darkgreen);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;

  .placeholder-container {
    display: flex;
    justify-content: left;
    gap: 6px;
    width: 100%;
    position: absolute;
    .card-placeholder {
      width: 52px;
      height: 72px;
      border: 2px solid #108300;
      border-radius: 8px;
      position: relative;
      left: -3px;
      top: -3px;
    }
  }

  .tableCardsContainer {
    display: flex;
    justify-content: left;
    gap: 12px;
    width: 100%;
    height: 100%;
    padding-left: 75px;
    .card {
      //   position: absolute;
      //   right: -200px;
      transform: translateX(200px);
      -webkit-animation: slide 0.5s forwards;
      animation: slide 0.5s forwards;
      opacity: 0.8;
      .card-inner {
        transform: rotateY(180deg);
        animation: flip 0.5s forwards;
        animation-delay: 0.4s;
      }
    }
  }

  .tableInfo {
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: 600;
  }

  .gameInfo {
    margin-top: 10px;

    ul {
      margin: 0;
    }
  }
}

@-webkit-keyframes slide {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes flip {
  100% {
    transform: rotateY(0);
  }
}

@keyframes flip {
  100% {
    transform: rotateY(0);
  }
}
