.gameTable {
  position: relative;
  width: 370px;
  height: 170px;
  border-radius: 500px;
  padding-top: 1.5rem;
  box-sizing: border-box;
  background-color: var(--bg-darkgreen);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;

  .tableCardsContainer {
    display: flex;
    justify-content: center;

    gap: 10px;
  }

  .tableInfo {
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: 600;
  }

  .gameInfo {
    margin-top: 10px;

    ul {
      margin: 0;
    }
  }
}
