.bet-controls-container {
  font-size: 1.2em;
  background-color: rgb(154 157 154 / 60%);
  padding: 0 15px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 70%;
  min-width: 1000px;
  bottom: 0;

  .bet-amount-container {
    display: flex;
    flex: 1;
    padding-right: 10px;
    .min-bet-value-label {
      text-align: left;
      font-size: 0.8em;
      display: flex;
      align-items: center;
    }
    .max-bet-value-label {
      text-align: right;
      font-size: 0.8em;
      display: flex;
      align-items: center;
    }

    .bet-amount {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      #betAmountInput {
        width: 90%;
        margin-top: 5px;
        text-align: center;
        outline: none;
        border: none;
        border-radius: 10px;
        font-size: 1.3em;
        font-weight: 600;
        color: white;
        background-color: #9b7c7a;
        box-sizing: border-box;
        &:focus {
          box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.3);
        }
      }
      .slider-container {
        width: 100%;

        #betAmountSlider {
          width: 100%;
          height: 30px;
          transition: opacity 0.2s;
        }
      }
    }
  }

  .action-buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .peak-cards-btn-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  .btn-container {
    min-width: 110px;
    padding: 0 5px;
    .control-btn {
      position: relative;
      font-size: 1rem;
      padding: 0px 10px;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      // box-sizing: border-box;
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

      box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.5), inset 0px 0px 6px 2px rgba(0, 0, 0, 0.4);

      &:hover {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      }

      &:active {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
          0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      }

      &:after {
        content: "";
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200%;
        height: 400%;
        opacity: 0;
        transition: all 0.5s;
      }

      &:active:after {
        width: 0;
        height: 0;
        opacity: 1;
        transition: 0s;
      }

      &#foldBtn {
        background-color: rgb(137, 42, 35);
        &:hover {
          background-color: rgb(124, 33, 27);
        }
      }

      &#betCheckBtn {
        background-color: rgb(35, 42, 137);
        &:hover {
          background-color: rgb(27, 33, 124);
        }
      }

      &#raiseBtn {
        background-color: #227a5a;
        &:hover {
          background-color: #1d684d;
        }
      }

      &#allInBtn {
        background-color: rgb(42, 137, 35);
        &:hover {
          background-color: rgb(33, 124, 27);
        }
      }

      &#peakCardsBtn {
        background-color: rgb(147, 146, 31);
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
          0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        &:hover {
          background-color: rgb(135, 132, 26);
        }
      }
    }
  }
}
