.setting-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  gap: 20px;
  align-items: center;
}

.settings {
  background-color: #520000;
  border-radius: 5px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.table-setting {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  align-items: center;
}

.playerCount {
  display: flex;
  gap: 5px;
}

.player-count-item {
  color: white;
  font-weight: 600;
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: #702424;
  border-radius: 100px;
  cursor: pointer;
}

.selected {
  background-color: #a13030;
}

#startingMoneyInput,
#minimumBetValueInput {
  width: 100px;
  font-size: 1.5em;
  background: var(--transparent);
  border: none;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
