.game-log {
  display: flex;
  text-align: left;
  flex-direction: column;
  background-color: #520000;
  color: white;
  font-size: 1rem;
  opacity: 0.5;
  padding: 12px;
  border-radius: 12px;
  height: 100%;
  box-shadow: 0 2px 12px #222222;
  overflow: hidden;
  &:hover {
    overflow-y: overlay;
  }
}

.game-log::-webkit-scrollbar {
  width: 7px;
}

.game-log::-webkit-scrollbar-track {
  background: transparent;
}

.game-log::-webkit-scrollbar-thumb {
  background-color: #ececfb;
  border-radius: 20px;
}

.log {
  font-size: 0.8rem;
}
