.game-log {
  opacity: 0.5;
  background-color: #520000;
  color: white;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 12px;
  //   min-width: 450px;
}

.log {
  font-size: 0.8rem;
}
