.game-log {
  opacity: 0.5;
  background-color: #520000;
  color: white;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 12px;
  overflow: hidden;
  &:hover {
    overflow-y: auto;
  }
}

.game-log::-webkit-scrollbar {
  width: 7px;
}

.game-log::-webkit-scrollbar-track {
  background: transparent;
}

.game-log::-webkit-scrollbar-thumb {
  background-color: #ececfb;
  border-radius: 20px;
}

.log {
  font-size: 0.8rem;
}
