.player {
  &.player-0 {
    display: flex;
    flex-direction: column-reverse;
  }

  &.player-1 {
    display: flex;
    flex-direction: row;
  }

  &.player-2 {
    display: flex;
    flex-direction: column;
  }

  &.player-3 {
    display: flex;
    flex-direction: row-reverse;
  }

  &.folded {
    opacity: 0.3;
  }

  .playerInfo {
    padding: 5px;
    border-radius: 10px;

    &.activePlayerInfo {
      color: black;
      margin-bottom: 8px;
      transform: scale(1.05);
      .playerInfoBody {
        background-image: none;
        box-shadow: 0px 12px 13px 8px rgba(0, 0, 0, 0.3);

        &::before {
          content: "";
          position: absolute;
          width: 300%;
          height: 100%;
          top: 0;
          z-index: -1;
          background: linear-gradient(268deg, rgba(0, 0, 0, 0) 35%, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0) 65%)
            rgba(98, 245, 71, 0.9);
          // background: linear-gradient(268deg, rgba(0, 0, 0, 0) 33%, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0) 66%)
          //   #c2b336;
          animation: MOVE-BG 1.5s infinite linear;
        }
      }
    }

    .playerInfoBody {
      /* background-color: var(--bg-darkgreen); */
      background-image: linear-gradient(41deg, #7d8489 0%, #c4c5c6 74%);
      box-shadow: 0 3px 14px #000;
      border-radius: 8px;
      padding: 5px;
      position: relative;
      overflow: hidden;

      .playerCards {
        display: flex;
        justify-content: center;
        gap: 5px;
      }

      .playerName {
        font-size: 1.2em;
        margin: 10px 10px 7px 10px;
        text-align: center;
        color: white;
      }

      .playerMoneyLeft {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 2px;
        text-align: center;
        color: white;
        text-align: center;
      }
    }
  }

  .playerBet {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    .big-blind,
    .small-blind {
      height: 40px;
      width: 40px;
      border: 3px dashed black;
      border-radius: 50%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .big-blind {
      background-color: #fee33e;
      padding-bottom: 5px;
      line-height: 0.7rem;
      font-size: 0.6rem;
      font-weight: 700;
      color: black;
    }

    .small-blind {
      background-color: #3654d2;
      font-size: 0.5rem;
      letter-spacing: 0.05rem;
      line-height: 0.6rem;
      padding-left: 2px;
    }
  }
}

.player-1 .playerBet,
.player-3 .playerBet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// .stage {
//   animation: animateBg 2s infinite linear;
//   background-color: #fff;
//   background-image: linear-gradient(90deg, #da3287, #ffde5e, #da3287, #ffde5e);
//   background-size: 300% 100%;
//   box-shadow: 0 3px 14px #000;
//   border-radius: 1rem;
//   height: 200px;
//   width: 200px;
// }
// @keyframes animateBg {
//   0% {
//     background-position: 0 0;
//   }
//   100% {
//     background-position: 100% 0;
//   }
// }

@keyframes MOVE-BG {
  from {
    transform: translateX(-230px);
  }
  to {
    transform: translateX(-10px);
  }
}
