:root {
  --btn-blue-base: #244767;
  --btn-blue-hover: #1b4266;
  --bg-red: #702424;
  --btn-red: #a13030;
  --btn-red-hover: #9f0000;
  --btn-green-base: #276627;
  --btn-green-hover: #368536;
  --bg-green: #164b16;
  --bg-darkgreen: #1a341a;
  --bg-gold: #cf900e;
  --transparent: #ffffff00;
}

html,
body,
#root,
.game-background {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  min-width: 1130px;
}

.game-background {
  display: flex;
  justify-content: space-evenly;
  min-height: 600px;
  min-width: 900px;
  background-color: var(--bg-red);
}

.backButton_container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.gameTable,
.card-container {
  //   transform: scale(0.6);
}
/* @media screen and (max-width: 1200px) {
} */
